<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Auctions WebViewer</title>
</head>
<body>
    <div class="h-screen bg-black">
        <h1 class="text-4xl text-center text-white">Auctions</h1>
        <h2 class="text-2xl text-center text-white md-5"><%- amount %> auctions found!</h2>
        <div class="grid grid-rows-4 grid-cols-3 gap-x-15 gap-y-22 bg-black place-items-center grid-flow-dense">
            <% auctions.map(auction => { %>
                <div class="bg-gray-800 rounded-xl p-5">
                    <span style="color:#FFFFFF; font-weight: bold;"><%- auction.name %> <br></span><%- auction.htmllore %><br>
                    <span style="color:#FFFFFF; font-weight: bold;">Price: <abbr title="<%- auction.price.price %>"><%- auction.price.readable %></abbr> <br></span>
                    <span style="color:#FFFFFF; font-weight: bold;">Estimated Profit: <abbr title="<%- auction.difference %> "><%- auction.differenceReadable %></abbr><br></span>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <a href="https://sky.coflnet.com/auction/<%- auction.ahid %> ">View Auction</a>
                    </button>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>